<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    	<property name="connection.username">root</property>
    	<property name="connection.password"></property>
    	<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    	<property name="connection.url">jdbc:mysql:///tiebas?useUnicode=true&amp;characterEncoding=gbk</property>
    	<property name="dialect">com.creeper.hibernate.util.MySQL5InnoDBDialect</property>
		<property name="show_sql">false</property>
    	<property name="format_sql">false</property>
    	<property name="hbm2ddl.auto">updata</property>
		<property name="current_session_context_class">thread</property>
    	 <mapping class="com.creeper.model.AllUrlModel"/>
    	<mapping class="com.creeper.model.ChildUrlModel"/>
    	<mapping class="com.creeper.model.TiebaUrlModel"/>
    	<mapping class="com.creeper.model.TiebaModel"/>
		<mapping class="com.creeper.model.TiebaInforModel"/>
    	<mapping class="com.creeper.model.PostModel"/> 
    </session-factory>
    
</hibernate-configuration>
